* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow: hidden;
}

html {
  font-size: 80%;
  box-sizing: border-box;
}

.chat-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  text-align: center;

  background: url("../src/assets/parsa-Rn0-yUSblhI-unsplash.jpg") no-repeat
    bottom/cover;
}

.header-main {
  width: 100vw;

  margin-top: 50px;
  color: aliceblue;
  font-size: 3em;

  text-align: center;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.5em;
  text-decoration: underline 2px solid;
}

.logout-button {
  position: absolute;
  left: 50%;
  top: 10px;
}

.user-login-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 90vw;

  padding: 10px;
  margin-bottom: 40px;
  border-radius: 40px;

  background-color: rgba(255, 255, 255, 0.9);
}

.user-login-label {
  color: rgba(10, 3, 37, 0.751);

  font-size: 2.3rem;
  font-weight: bold;
}

.user-login-input {
  margin-left: 20px;
  padding: 5px 90px;

  border-radius: 10px;

  background-color: antiquewhite;
  font-size: 1.8rem;
}

.user-error-message {
  margin: 10px;
}
.messages-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.messages-unordered-list {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

.messages-main {
  overflow-y: auto;

  width: 90vw;
  height: 75vh;

  border-radius: 20px;
  border: 15px groove red;

  margin-bottom: 10px;

  background-color: rgba(255, 255, 255, 0.25);
}

.messages-list {
  display: flex;
  flex-direction: row;
  text-align: left;

  margin-top: 10px;
}

.messages-list.current {
  justify-content: flex-end;
  flex-direction: row;
  text-align: right;
}

.message-content {
  display: inline-block;
  padding: 5px;
  max-width: 350px;

  color: white;
}

.message-username {
  color: yellow;
  font-size: 16px;
  padding-bottom: 5px;
  margin: auto 20px;
}

.message-send-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 90vw;

  padding: 10px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}

.message-send-input {
  padding: 5px 90px;
  border-radius: 10px;

  background-color: antiquewhite;
  font-size: 1.8em;
}

@media screen and (max-width: 800px) {
  .user-login-container {
    flex-flow: column nowrap;
  }

  .user-login-input {
    padding: 0;
  }

  .logout-button {
    left: 45%;
  }

  .message-send-container {
    flex-flow: column nowrap;
    margin-bottom: 40px;
  }

  .message-send-input {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 0.8em;
  }
}
